{% extends "shop/base.html" %}
{% load static %}
{% block content %}
    <h1>Orders</h1>
    <table>
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Customer ID</th>
                <th>Payment Method</th>
                <th>Products</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.customer.person_id }}</td>
                    <td>{{ order.payment_method }}</td>
                    <td>{{ order.products }}</td>
                    <td>{{ order.date }}</td>
                    <!-- Add other fields as needed -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock content %}
